<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pts3.castgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_cast"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoadingActivity"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MapActivity"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".activities.SolutionActivity"></activity>
    </application>

</manifest>